
$bottom-bar-height: 100px;


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto (-1 * $bottom-bar-height);
  /* Pad bottom by footer height */
  padding: 0 0 $bottom-bar-height;

  .container-fluid {
  	height: 100% !important;
  // 	padding-left: 0px;
  // 	padding-right: 0px;
  }
}

/* Set the fixed height of the footer here */
.footer {
  height: $bottom-bar-height;
  background-color: #eee;
}

.below-navbar
{
	padding-top: $navbar-height;
}